<footer style="display: flex; justify-content: left;">
    <link rel="stylesheet" href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <ul>
      <li>
        <span onclick="" class="footer">
            <a href="https://www.instagram.com/notesappwarrior1/" target="_blank">
                <img src="/images/instagram-logo.png" style="filter: invert(1);" width="39px" height="30px" alt="instagram logo lol"/>
            </a>
        </span>
    </li>
      <li><span onclick="" class="footer"></span></li>
    </ul>
</footer>
<br><br>