---
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        <div id="replace_with_navbar"></div><br>
        <div class="solo-note">
            <div class="solo-note-child">
                <h3 id="last-modified">{{ page.date }}</h3>
                <p>{{ page.content }}</p>
            </div>
        </div>

        
        <!-- <footer style="background-color: red;"> -->
        <footer>
            <ul>
                <li>
                    <span onclick="" class="footer">
                        <a href="https://www.instagram.com/notesappwarrior1/" target="_blank">
                            <!-- <img src="/images/instagram-logo.png" style="filter: invert(1);" width="39px" height="30px" alt="instagram logo lol"/> -->
                            <img src="/images/instagram-logo.webp" style="filter: invert(1);" width="35px" height="35px" alt="instagram logo lol"/>
                        </a>
                    </span>
                </li>
                <li>
                    <span onclick="" class="footer">
                        <a href="/">Back to Home</a>
                    </span>
                </li>
            </ul>
        </footer>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="{{ '/scripts/date.js' | relative_url }}" async defer></script>
        <script src="{{ '/scripts/load.js' | relative_url }}" async defer></script>
        <script src="{{ '/scripts/gap.js' | relative_url }}" defer></script>
    </body>
</html>